<!-- succes flash message -->
<% if(success && success.length) {%>
<div class="alert alert-success alert-dismissible fade show col-md-6 col-lg-4 mx-auto justify-content-end" role="alert">
  <%=success%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>

<!-- error flash message -->
<% if(error && error.length) {%>
<div class="alert alert-danger alert-dismissible fade show col-md-6 col-lg-4 mx-auto" role="alert">
  <%=error%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>
