<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title text-center">Register</h5>
        <form
          action="/register"
          method="post"
          class="validated-form"
          novalidate
        >
          <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input
              class="form-control"
              type="text"
              id="username"
              name="username"
              required
              autofocus
            />
            <div class="valid-feedback">looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input
              class="form-control"
              type="email"
              id="email"
              name="email"
              required
            />
            <div class="valid-feedback">looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              class="form-control"
              type="password"
              id="password"
              name="password"
              required
            />
            <div class="valid-feedback">looks good!</div>
          </div>
          <button class="btn btn-success col-12">Register</button>
          <div class="mt-4">
            <p class="text-muted d-inline">Already have an account?</p>
            <a href="/login" class="btn btn-sm btn-outline-success d-inline"
              >Login</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
